<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27615205193-6hdv5qn1p5at4s4ctv1usfm8b2teh1lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27615205193-6hdv5qn1p5at4s4ctv1usfm8b2teh1lg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>27615205193-1m3o4a4bf48jrbulfdfa195eaumpsk7l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASq8aIVux4nQafva-eeWirsI2PHwL_Kho</string>
	<key>GCM_SENDER_ID</key>
	<string>27615205193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>g.fra4um</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-14889</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-14889.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27615205193:ios:4639ab3a1c12653be9ec98</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-14889-default-rtdb.firebaseio.com</string>
</dict>
</plist>